@import "tailwindcss";

@font-face {
    font-family: 'GameBoy1989';
    src: url('/assets/game_boy_1989.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer base {

    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply overflow-hidden max-w-full truncate;
    }
}