<div class="w-3/4 grid grid-cols-4 gap-4 ml-6">
    <% @pokemons.each do |pokemon| %>
      <% pokemon_id = pokemon["url"].split("/")[-1] %>
<!--, format: :turbo_stream-->
      <a href="<%= pokemon_path(pokemon["name"]) %>" 
         data-turbo-action="replace"
         class="block bg-white shadow-lg rounded-lg p-4 text-center border border-gray-200 
                transition-transform transform hover:scale-105 hover:shadow-2xl cursor-pointer">
        
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon_id %>.png"
             alt="<%= pokemon["name"] %>" 
             class="w-32 h-32 object-contain mx-auto">

        <p class="text-lg font-semibold capitalize mt-2"><%= pokemon["name"] %></p>
      </a>
    <% end %>
  </div>
</div>