<% content_for :full_width, true %>
<div class="w-full px-6 flex flex-col items-center gap-6">
	<!-- Main Card -->
	<div class="max-w-xl w-full">
		<%= render partial: "pokemons/shared/details_card" %>
	</div>
</div>
