<div class="max-w-md mx-auto rounded-3xl overflow-hidden shadow-2xl bg-white border border-gray-300">
  <!-- Pokemon Details Card -->
  <%= render partial: "pokemons/shared/details_card" %>

  
</div>
