<div class="flex flex-row gap-6 px-6">
  <!-- Search Result Grid -->
  <turbo-frame id="pokemon_results" class="flex-grow">
    
    <!-- Render the Pokemon Teams Card -->
    <%= render partial: "teams/shared/pokedex_teams_card", locals: { pokemons: @pokemons_search } %>
  
  </turbo-frame>

  <!-- Search Sidebar -->
  <div class="">
  
    <%= render partial: "teams/shared/team_sidebar" %>
  
  </div>
</div>
