<aside class="w-48 h-xl sticky top-0 overflow-y-auto flex flex-col p-6 rounded-lg">
    <div class="w-4xl h-xl grid grid-cols-6 gap-4 ml-6 rounded-lg mb-4">
        <%= render partial: "pokemons/shared/pokedex_card" %>
    </div>
</aside>